<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <!-- Puedes agregar tus enlaces de CSS aquí -->
  </head>
  <body>
    {{{body}}} <!-- Esto es donde se inyecta el contenido de las otras vistas -->
  </body>
</html>
